# 1.Import Data

In [3]:
import pandas as pd
import numpy as np
import json

In [4]:
data = np.abs(pd.read_csv('Data/Raw/data_all.csv'))
data= data.rename(columns = {'wspd':'prev_wspd','nxt_wspd':'wspd'})
data

,prev_displ,prev_vell,prev_accl,prev_wspd,displ,vell,accl,wspd,act,dispm,velm,accm,dispm_0,velm_0,accm_0
0,47,48,53,6,26,47,54,6,10.0,0.000107,0.000142,0.000336,0.000108,0.000142,0.000336
1,47,48,53,6,26,47,54,6,20.0,0.000107,0.000142,0.000336,0.000108,0.000142,0.000336
2,47,48,53,6,26,46,53,6,30.0,0.000107,0.000142,0.000336,0.000108,0.000142,0.000336
3,47,48,53,6,26,46,53,6,40.0,0.000107,0.000142,0.000336,0.000108,0.000142,0.000336
4,47,48,53,6,27,46,53,6,50.0,0.000107,0.000146,0.000336,0.000108,0.000142,0.000336
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23835,62,33,49,18,55,35,54,17,160.0,0.000126,0.000283,0.001810,0.000354,0.001104,0.003732
23836,62,33,49,18,55,36,54,17,170.0,0.000125,0.000265,0.001739,0.000354,0.001104,0.003732
23837,62,33,49,18,55,37,54,17,180.0,0.000124,0.000258,0.001710,0.000354,0.001104,0.003732
23838,62,33,49,18,61,35,54,17,190.0,0.000153,0.000352,0.002027,0.000354,0.001104,0.003732
23839,62,33,49,18,62,35,54,17,200.0,0.000170,0.000356,0.002025,0.000354,0.001104,0.003732

In [5]:
(data['accm'] - data['accm_0']).mean(),(data['velm'] - data['velm_0']).mean(),(data['dispm'] - data['dispm_0']).mean()

(-3.591109614935337e-05, -0.0001538535311560804, -3.179069586526658e-05)

In [6]:
#reward function = Ucondi/Uuncondi if 
for j in ['disp','vel','acc']:
    data['r_'+j] = np.abs(data[j+'m']/data[j+'m_0'])
    # if no change reward = 0
    data.loc[data['r_'+j]==1,'r_'+j] = 0 - data['act']/2000
    data.loc[data['r_'+j]>1,'r_'+j] = -data.loc[data['r_'+j]>1,'r_'+j] - data['act']/2000
    data.loc[(data['r_'+j]<1)&(data['r_'+j]>0),'r_'+j] = 1/data.loc[data['r_'+j]<1,'r_'+j] - data['act']/2000

# 2. Create Subset data

## 2.1 Check Data summary for rewards

In [7]:
for j in ['disp','vel','acc']:
    print(data['r_'+j].mean())
    print(data['r_'+j].median())
    print()

0.8242301184103439
1.135145164224478

1.2643241780175236
1.4523596800356575

0.26639474560662185
0.9488653320026676

# 2.2 Separate the Data for models

In [8]:
for j in ['disp','vel','acc']:
    col_names = ['prev_'+j+'l', 'prev_wspd', j+'l', 'wspd', 'act', 'r_'+j]
    globals()[j] = round(data[col_names],6)
    eval(j)['state'] = list(zip( np.abs(eval(j)['prev_'+j+'l']),  eval(j)['prev_wspd']))
    eval(j)['state_p'] = list(zip( np.abs(eval(j)[j+'l']),  eval(j)['wspd']))
    globals()[j] = eval(j)[['state', 'state_p', 'act', 'r_'+j]].drop_duplicates()
    eval(j).to_csv('Data/{}.csv'.format(j))
# we have three datasets: disp, vel, acc, with s, s', a r
disp

          state   state_p    act    r_disp
0       (47, 6)   (26, 6)   10.0  1.005257
1       (47, 6)   (26, 6)   20.0  1.000257
2       (47, 6)   (26, 6)   30.0  0.995256
3       (47, 6)   (26, 6)   40.0  0.990256
4       (47, 6)   (27, 6)   50.0  0.985256
...         ...       ...    ...       ...
23835  (62, 18)  (55, 17)  160.0  2.731185
23836  (62, 18)  (55, 17)  170.0  2.746416
23837  (62, 18)  (55, 17)  180.0  2.760593
23838  (62, 18)  (61, 17)  190.0  2.219886
23839  (62, 18)  (62, 17)  200.0  1.976461

[22930 rows x 4 columns]

In [9]:
#check the total states vs observed next states
for j in [disp,vel,acc]:
    print('total samples:',len(j))
    print('total unique current state:', len(set(j['state'])))
    print('total unique next state:',len(set(j['state_p'])))
    print()

total samples: 22930
total unique current state: 641
total unique next state: 1268

total samples: 23099
total unique current state: 424
total unique next state: 868

total samples: 21967
total unique current state: 338
total unique next state: 814

In [10]:
for i in data.columns:
    print(i,':',len(set(data[i])))
# 20 actions
# 395 displacement
# 675 velocity
# 1026 acceleration

prev_displ : 85
prev_vell : 67
prev_accl : 59
prev_wspd : 20
displ : 98
vell : 82
accl : 87
wspd : 20
act : 20
dispm : 22301
velm : 22781
accm : 9863
dispm_0 : 1188
velm_0 : 1191
accm_0 : 1190
r_disp : 23338
r_vel : 23739
r_acc : 19696

## 2.3 Unique Value of (parameter, wind_speed)

In [11]:
for i in ['displ','vell','accl']:
    temp = set(pd.concat([data['prev_'+i],data[i]], axis=0,ignore_index=True))
    print(len(temp))
    temp2 = set(pd.concat([data['prev_wspd'],data['wspd']], axis=0,ignore_index=True))
    globals()['unique_{}'.format(i)] = [(j,k) for j in range(1,101) for k in range(1,21)]
len(unique_displ),len(unique_vell),len(unique_accl)
#(2000, 2000, 2000)

98
82
87

(2000, 2000, 2000)

# 4. Dictionarized all (disp/vel/acc, wind) to s1,s2...

In [12]:
#create dictionary for each state
for i in ['unique_displ','unique_vell','unique_accl']:
  my_list = eval(i)
  globals()['dict_'+i] = dict() 
  for index,value in enumerate(my_list):
    eval('dict_'+i)[index+1] = value
#dict_unique_prev_displ
len(dict_unique_displ.keys())
dict_unique_displ

{1: (1, 1),
 2: (1, 2),
 3: (1, 3),
 4: (1, 4),
 5: (1, 5),
 6: (1, 6),
 7: (1, 7),
 8: (1, 8),
 9: (1, 9),
 10: (1, 10),
 11: (1, 11),
 12: (1, 12),
 13: (1, 13),
 14: (1, 14),
 15: (1, 15),
 16: (1, 16),
 17: (1, 17),
 18: (1, 18),
 19: (1, 19),
 20: (1, 20),
 21: (2, 1),
 22: (2, 2),
 23: (2, 3),
 24: (2, 4),
 25: (2, 5),
 26: (2, 6),
 27: (2, 7),
 28: (2, 8),
 29: (2, 9),
 30: (2, 10),
 31: (2, 11),
 32: (2, 12),
 33: (2, 13),
 34: (2, 14),
 35: (2, 15),
 36: (2, 16),
 37: (2, 17),
 38: (2, 18),
 39: (2, 19),
 40: (2, 20),
 41: (3, 1),
 42: (3, 2),
 43: (3, 3),
 44: (3, 4),
 45: (3, 5),
 46: (3, 6),
 47: (3, 7),
 48: (3, 8),
 49: (3, 9),
 50: (3, 10),
 51: (3, 11),
 52: (3, 12),
 53: (3, 13),
 54: (3, 14),
 55: (3, 15),
 56: (3, 16),
 57: (3, 17),
 58: (3, 18),
 59: (3, 19),
 60: (3, 20),
 61: (4, 1),
 62: (4, 2),
 63: (4, 3),
 64: (4, 4),
 65: (4, 5),
 66: (4, 6),
 67: (4, 7),
 68: (4, 8),
 69: (4, 9),
 70: (4, 10),
 71: (4, 11),
 72: (4, 12),
 73: (4, 13),
 74: (4, 14),
 75: (4, 15),
 76: (4, 16),
 77: (4, 17),
 78: (4, 18),
 79: (4, 19),
 80: (4, 20),
 81: (5, 1),
 82: (5, 2),
 83: (5, 3),
 84: (5, 4),
 85: (5, 5),
 86: (5, 6),
 87: (5, 7),
 88: (5, 8),
 89: (5, 9),
 90: (5, 10),
 91: (5, 11),
 92: (5, 12),
 93: (5, 13),
 94: (5, 14),
 95: (5, 15),
 96: (5, 16),
 97: (5, 17),
 98: (5, 18),
 99: (5, 19),
 100: (5, 20),
 101: (6, 1),
 102: (6, 2),
 103: (6, 3),
 104: (6, 4),
 105: (6, 5),
 106: (6, 6),
 107: (6, 7),
 108: (6, 8),
 109: (6, 9),
 110: (6, 10),
 111: (6, 11),
 112: (6, 12),
 113: (6, 13),
 114: (6, 14),
 115: (6, 15),
 116: (6, 16),
 117: (6, 17),
 118: (6, 18),
 119: (6, 19),
 120: (6, 20),
 121: (7, 1),
 122: (7, 2),
 123: (7, 3),
 124: (7, 4),
 125: (7, 5),
 126: (7, 6),
 127: (7, 7),
 128: (7, 8),
 129: (7, 9),
 130: (7, 10),
 131: (7, 11),
 132: (7, 12),
 133: (7, 13),
 134: (7, 14),
 135: (7, 15),
 136: (7, 16),
 137: (7, 17),
 138: (7, 18),
 139: (7, 19),
 140: (7, 20),
 141: (8, 1),
 142: (8, 2),
 143: (8, 3),
 144: (8, 4),
 145: (8, 5),
 146: (8, 6),
 147: (8, 7),
 148: (8, 8),
 149: (8, 9),
 150: (8, 10),
 151: (8, 11),
 152: (8, 12),
 153: (8, 13),
 154: (8, 14),
 155: (8, 15),
 156: (8, 16),
 157: (8, 17),
 158: (8, 18),
 159: (8, 19),
 160: (8, 20),
 161: (9, 1),
 162: (9, 2),
 163: (9, 3),
 164: (9, 4),
 165: (9, 5),
 166: (9, 6),
 167: (9, 7),
 168: (9, 8),
 169: (9, 9),
 170: (9, 10),
 171: (9, 11),
 172: (9, 12),
 173: (9, 13),
 174: (9, 14),
 175: (9, 15),
 176: (9, 16),
 177: (9, 17),
 178: (9, 18),
 179: (9, 19),
 180: (9, 20),
 181: (10, 1),
 182: (10, 2),
 183: (10, 3),
 184: (10, 4),
 185: (10, 5),
 186: (10, 6),
 187: (10, 7),
 188: (10, 8),
 189: (10, 9),
 190: (10, 10),
 191: (10, 11),
 192: (10, 12),
 193: (10, 13),
 194: (10, 14),
 195: (10, 15),
 196: (10, 16),
 197: (10, 17),
 198: (10, 18),
 199: (10, 19),
 200: (10, 20),
 201: (11, 1),
 202: (11, 2),
 203: (11, 3),
 204: (11, 4),
 205: (11, 5),
 206: (11, 6),
 207: (11, 7),
 208: (11, 8),
 209: (11, 9),
 210: (11, 10),
 211: (11, 11),
 212: (11, 12),
 213: (11, 13),
 214: (11, 14),
 215: (11, 15),
 216: (11, 16),
 217: (11, 17),
 218: (11, 18),
 219: (11, 19),
 220: (11, 20),
 221: (12, 1),
 222: (12, 2),
 223: (12, 3),
 224: (12, 4),
 225: (12, 5),
 226: (12, 6),
 227: (12, 7),
 228: (12, 8),
 229: (12, 9),
 230: (12, 10),
 231: (12, 11),
 232: (12, 12),
 233: (12, 13),
 234: (12, 14),
 235: (12, 15),
 236: (12, 16),
 237: (12, 17),
 238: (12, 18),
 239: (12, 19),
 240: (12, 20),
 241: (13, 1),
 242: (13, 2),
 243: (13, 3),
 244: (13, 4),
 245: (13, 5),
 246: (13, 6),
 247: (13, 7),
 248: (13, 8),
 249: (13, 9),
 250: (13, 10),
 251: (13, 11),
 252: (13, 12),
 253: (13, 13),
 254: (13, 14),
 255: (13, 15),
 256: (13, 16),
 257: (13, 17),
 258: (13, 18),
 259: (13, 19),
 260: (13, 20),
 261: (14, 1),
 262: (14, 2),
 263: (14, 3),
 264: (14, 4),
 265: (14, 5),
 266: (14, 6),
 267: (14, 7),
 268: (14, 8),
 269: (14, 9),
 270: (14, 10),
 271: (14, 11),
 272: (14, 12),
 273: (14, 13),
 274: (14, 14),
 275: (14, 15),
 276: (14, 16),
 277: (14, 17),
 278: (14, 18),
 279: (14, 19),
 280: (14, 20),
 281: (15, 1),
 282: (15, 2),
 283: (15, 3),
 284: (15, 4),
 285: (15, 5),
 286: (15, 6),
 287: (15, 7),
 288: (15, 8),
 289: (15, 9),
 290: (15, 10),
 291: (15, 11),
 292: (15, 12),
 293: (15, 13),
 294: (15, 14),
 295: (15, 15),
 296: (15, 16),
 297: (15, 17),
 298: (15, 18),
 299: (15, 19),
 300: (15, 20),
 301: (16, 1),
 302: (16, 2),
 303: (16, 3),
 304: (16, 4),
 305: (16, 5),
 306: (16, 6),
 307: (16, 7),
 308: (16, 8),
 309: (16, 9),
 310: (16, 10),
 311: (16, 11),
 312: (16, 12),
 313: (16, 13),
 314: (16, 14),
 315: (16, 15),
 316: (16, 16),
 317: (16, 17),
 318: (16, 18),
 319: (16, 19),
 320: (16, 20),
 321: (17, 1),
 322: (17, 2),
 323: (17, 3),
 324: (17, 4),
 325: (17, 5),
 326: (17, 6),
 327: (17, 7),
 328: (17, 8),
 329: (17, 9),
 330: (17, 10),
 331: (17, 11),
 332: (17, 12),
 333: (17, 13),
 334: (17, 14),
 335: (17, 15),
 336: (17, 16),
 337: (17, 17),
 338: (17, 18),
 339: (17, 19),
 340: (17, 20),
 341: (18, 1),
 342: (18, 2),
 343: (18, 3),
 344: (18, 4),
 345: (18, 5),
 346: (18, 6),
 347: (18, 7),
 348: (18, 8),
 349: (18, 9),
 350: (18, 10),
 351: (18, 11),
 352: (18, 12),
 353: (18, 13),
 354: (18, 14),
 355: (18, 15),
 356: (18, 16),
 357: (18, 17),
 358: (18, 18),
 359: (18, 19),
 360: (18, 20),
 361: (19, 1),
 362: (19, 2),
 363: (19, 3),
 364: (19, 4),
 365: (19, 5),
 366: (19, 6),
 367: (19, 7),
 368: (19, 8),
 369: (19, 9),
 370: (19, 10),
 371: (19, 11),
 372: (19, 12),
 373: (19, 13),
 374: (19, 14),
 375: (19, 15),
 376: (19, 16),
 377: (19, 17),
 378: (19, 18),
 379: (19, 19),
 380: (19, 20),
 381: (20, 1),
 382: (20, 2),
 383: (20, 3),
 384: (20, 4),
 385: (20, 5),
 386: (20, 6),
 387: (20, 7),
 388: (20, 8),
 389: (20, 9),
 390: (20, 10),
 391: (20, 11),
 392: (20, 12),
 393: (20, 13),
 394: (20, 14),
 395: (20, 15),
 396: (20, 16),
 397: (20, 17),
 398: (20, 18),
 399: (20, 19),
 400: (20, 20),
 401: (21, 1),
 402: (21, 2),
 403: (21, 3),
 404: (21, 4),
 405: (21, 5),
 406: (21, 6),
 407: (21, 7),
 408: (21, 8),
 409: (21, 9),
 410: (21, 10),
 411: (21, 11),
 412: (21, 12),
 413: (21, 13),
 414: (21, 14),
 415: (21, 15),
 416: (21, 16),
 417: (21, 17),
 418: (21, 18),
 419: (21, 19),
 420: (21, 20),
 421: (22, 1),
 422: (22, 2),
 423: (22, 3),
 424: (22, 4),
 425: (22, 5),
 426: (22, 6),
 427: (22, 7),
 428: (22, 8),
 429: (22, 9),
 430: (22, 10),
 431: (22, 11),
 432: (22, 12),
 433: (22, 13),
 434: (22, 14),
 435: (22, 15),
 436: (22, 16),
 437: (22, 17),
 438: (22, 18),
 439: (22, 19),
 440: (22, 20),
 441: (23, 1),
 442: (23, 2),
 443: (23, 3),
 444: (23, 4),
 445: (23, 5),
 446: (23, 6),
 447: (23, 7),
 448: (23, 8),
 449: (23, 9),
 450: (23, 10),
 451: (23, 11),
 452: (23, 12),
 453: (23, 13),
 454: (23, 14),
 455: (23, 15),
 456: (23, 16),
 457: (23, 17),
 458: (23, 18),
 459: (23, 19),
 460: (23, 20),
 461: (24, 1),
 462: (24, 2),
 463: (24, 3),
 464: (24, 4),
 465: (24, 5),
 466: (24, 6),
 467: (24, 7),
 468: (24, 8),
 469: (24, 9),
 470: (24, 10),
 471: (24, 11),
 472: (24, 12),
 473: (24, 13),
 474: (24, 14),
 475: (24, 15),
 476: (24, 16),
 477: (24, 17),
 478: (24, 18),
 479: (24, 19),
 480: (24, 20),
 481: (25, 1),
 482: (25, 2),
 483: (25, 3),
 484: (25, 4),
 485: (25, 5),
 486: (25, 6),
 487: (25, 7),
 488: (25, 8),
 489: (25, 9),
 490: (25, 10),
 491: (25, 11),
 492: (25, 12),
 493: (25, 13),
 494: (25, 14),
 495: (25, 15),
 496: (25, 16),
 497: (25, 17),
 498: (25, 18),
 499: (25, 19),
 500: (25, 20),
 501: (26, 1),
 502: (26, 2),
 503: (26, 3),
 504: (26, 4),
 505: (26, 5),
 506: (26, 6),
 507: (26, 7),
 508: (26, 8),
 509: (26, 9),
 510: (26, 10),
 511: (26, 11),
 512: (26, 12),
 513: (26, 13),
 514: (26, 14),
 515: (26, 15),
 516: (26, 16),
 517: (26, 17),
 518: (26, 18),
 519: (26, 19),
 520: (26, 20),
 521: (27, 1),
 522: (27, 2),
 523: (27, 3),
 524: (27, 4),
 525: (27, 5),
 526: (27, 6),
 527: (27, 7),
 528: (27, 8),
 529: (27, 9),
 530: (27, 10),
 531: (27, 11),
 532: (27, 12),
 533: (27, 13),
 534: (27, 14),
 535: (27, 15),
 536: (27, 16),
 537: (27, 17),
 538: (27, 18),
 539: (27, 19),
 540: (27, 20),
 541: (28, 1),
 542: (28, 2),
 543: (28, 3),
 544: (28, 4),
 545: (28, 5),
 546: (28, 6),
 547: (28, 7),
 548: (28, 8),
 549: (28, 9),
 550: (28, 10),
 551: (28, 11),
 552: (28, 12),
 553: (28, 13),
 554: (28, 14),
 555: (28, 15),
 556: (28, 16),
 557: (28, 17),
 558: (28, 18),
 559: (28, 19),
 560: (28, 20),
 561: (29, 1),
 562: (29, 2),
 563: (29, 3),
 564: (29, 4),
 565: (29, 5),
 566: (29, 6),
 567: (29, 7),
 568: (29, 8),
 569: (29, 9),
 570: (29, 10),
 571: (29, 11),
 572: (29, 12),
 573: (29, 13),
 574: (29, 14),
 575: (29, 15),
 576: (29, 16),
 577: (29, 17),
 578: (29, 18),
 579: (29, 19),
 580: (29, 20),
 581: (30, 1),
 582: (30, 2),
 583: (30, 3),
 584: (30, 4),
 585: (30, 5),
 586: (30, 6),
 587: (30, 7),
 588: (30, 8),
 589: (30, 9),
 590: (30, 10),
 591: (30, 11),
 592: (30, 12),
 593: (30, 13),
 594: (30, 14),
 595: (30, 15),
 596: (30, 16),
 597: (30, 17),
 598: (30, 18),
 599: (30, 19),
 600: (30, 20),
 601: (31, 1),
 602: (31, 2),
 603: (31, 3),
 604: (31, 4),
 605: (31, 5),
 606: (31, 6),
 607: (31, 7),
 608: (31, 8),
 609: (31, 9),
 610: (31, 10),
 611: (31, 11),
 612: (31, 12),
 613: (31, 13),
 614: (31, 14),
 615: (31, 15),
 616: (31, 16),
 617: (31, 17),
 618: (31, 18),
 619: (31, 19),
 620: (31, 20),
 621: (32, 1),
 622: (32, 2),
 623: (32, 3),
 624: (32, 4),
 625: (32, 5),
 626: (32, 6),
 627: (32, 7),
 628: (32, 8),
 629: (32, 9),
 630: (32, 10),
 631: (32, 11),
 632: (32, 12),
 633: (32, 13),
 634: (32, 14),
 635: (32, 15),
 636: (32, 16),
 637: (32, 17),
 638: (32, 18),
 639: (32, 19),
 640: (32, 20),
 641: (33, 1),
 642: (33, 2),
 643: (33, 3),
 644: (33, 4),
 645: (33, 5),
 646: (33, 6),
 647: (33, 7),
 648: (33, 8),
 649: (33, 9),
 650: (33, 10),
 651: (33, 11),
 652: (33, 12),
 653: (33, 13),
 654: (33, 14),
 655: (33, 15),
 656: (33, 16),
 657: (33, 17),
 658: (33, 18),
 659: (33, 19),
 660: (33, 20),
 661: (34, 1),
 662: (34, 2),
 663: (34, 3),
 664: (34, 4),
 665: (34, 5),
 666: (34, 6),
 667: (34, 7),
 668: (34, 8),
 669: (34, 9),
 670: (34, 10),
 671: (34, 11),
 672: (34, 12),
 673: (34, 13),
 674: (34, 14),
 675: (34, 15),
 676: (34, 16),
 677: (34, 17),
 678: (34, 18),
 679: (34, 19),
 680: (34, 20),
 681: (35, 1),
 682: (35, 2),
 683: (35, 3),
 684: (35, 4),
 685: (35, 5),
 686: (35, 6),
 687: (35, 7),
 688: (35, 8),
 689: (35, 9),
 690: (35, 10),
 691: (35, 11),
 692: (35, 12),
 693: (35, 13),
 694: (35, 14),
 695: (35, 15),
 696: (35, 16),
 697: (35, 17),
 698: (35, 18),
 699: (35, 19),
 700: (35, 20),
 701: (36, 1),
 702: (36, 2),
 703: (36, 3),
 704: (36, 4),
 705: (36, 5),
 706: (36, 6),
 707: (36, 7),
 708: (36, 8),
 709: (36, 9),
 710: (36, 10),
 711: (36, 11),
 712: (36, 12),
 713: (36, 13),
 714: (36, 14),
 715: (36, 15),
 716: (36, 16),
 717: (36, 17),
 718: (36, 18),
 719: (36, 19),
 720: (36, 20),
 721: (37, 1),
 722: (37, 2),
 723: (37, 3),
 724: (37, 4),
 725: (37, 5),
 726: (37, 6),
 727: (37, 7),
 728: (37, 8),
 729: (37, 9),
 730: (37, 10),
 731: (37, 11),
 732: (37, 12),
 733: (37, 13),
 734: (37, 14),
 735: (37, 15),
 736: (37, 16),
 737: (37, 17),
 738: (37, 18),
 739: (37, 19),
 740: (37, 20),
 741: (38, 1),
 742: (38, 2),
 743: (38, 3),
 744: (38, 4),
 745: (38, 5),
 746: (38, 6),
 747: (38, 7),
 748: (38, 8),
 749: (38, 9),
 750: (38, 10),
 751: (38, 11),
 752: (38, 12),
 753: (38, 13),
 754: (38, 14),
 755: (38, 15),
 756: (38, 16),
 757: (38, 17),
 758: (38, 18),
 759: (38, 19),
 760: (38, 20),
 761: (39, 1),
 762: (39, 2),
 763: (39, 3),
 764: (39, 4),
 765: (39, 5),
 766: (39, 6),
 767: (39, 7),
 768: (39, 8),
 769: (39, 9),
 770: (39, 10),
 771: (39, 11),
 772: (39, 12),
 773: (39, 13),
 774: (39, 14),
 775: (39, 15),
 776: (39, 16),
 777: (39, 17),
 778: (39, 18),
 779: (39, 19),
 780: (39, 20),
 781: (40, 1),
 782: (40, 2),
 783: (40, 3),
 784: (40, 4),
 785: (40, 5),
 786: (40, 6),
 787: (40, 7),
 788: (40, 8),
 789: (40, 9),
 790: (40, 10),
 791: (40, 11),
 792: (40, 12),
 793: (40, 13),
 794: (40, 14),
 795: (40, 15),
 796: (40, 16),
 797: (40, 17),
 798: (40, 18),
 799: (40, 19),
 800: (40, 20),
 801: (41, 1),
 802: (41, 2),
 803: (41, 3),
 804: (41, 4),
 805: (41, 5),
 806: (41, 6),
 807: (41, 7),
 808: (41, 8),
 809: (41, 9),
 810: (41, 10),
 811: (41, 11),
 812: (41, 12),
 813: (41, 13),
 814: (41, 14),
 815: (41, 15),
 816: (41, 16),
 817: (41, 17),
 818: (41, 18),
 819: (41, 19),
 820: (41, 20),
 821: (42, 1),
 822: (42, 2),
 823: (42, 3),
 824: (42, 4),
 825: (42, 5),
 826: (42, 6),
 827: (42, 7),
 828: (42, 8),
 829: (42, 9),
 830: (42, 10),
 831: (42, 11),
 832: (42, 12),
 833: (42, 13),
 834: (42, 14),
 835: (42, 15),
 836: (42, 16),
 837: (42, 17),
 838: (42, 18),
 839: (42, 19),
 840: (42, 20),
 841: (43, 1),
 842: (43, 2),
 843: (43, 3),
 844: (43, 4),
 845: (43, 5),
 846: (43, 6),
 847: (43, 7),
 848: (43, 8),
 849: (43, 9),
 850: (43, 10),
 851: (43, 11),
 852: (43, 12),
 853: (43, 13),
 854: (43, 14),
 855: (43, 15),
 856: (43, 16),
 857: (43, 17),
 858: (43, 18),
 859: (43, 19),
 860: (43, 20),
 861: (44, 1),
 862: (44, 2),
 863: (44, 3),
 864: (44, 4),
 865: (44, 5),
 866: (44, 6),
 867: (44, 7),
 868: (44, 8),
 869: (44, 9),
 870: (44, 10),
 871: (44, 11),
 872: (44, 12),
 873: (44, 13),
 874: (44, 14),
 875: (44, 15),
 876: (44, 16),
 877: (44, 17),
 878: (44, 18),
 879: (44, 19),
 880: (44, 20),
 881: (45, 1),
 882: (45, 2),
 883: (45, 3),
 884: (45, 4),
 885: (45, 5),
 886: (45, 6),
 887: (45, 7),
 888: (45, 8),
 889: (45, 9),
 890: (45, 10),
 891: (45, 11),
 892: (45, 12),
 893: (45, 13),
 894: (45, 14),
 895: (45, 15),
 896: (45, 16),
 897: (45, 17),
 898: (45, 18),
 899: (45, 19),
 900: (45, 20),
 901: (46, 1),
 902: (46, 2),
 903: (46, 3),
 904: (46, 4),
 905: (46, 5),
 906: (46, 6),
 907: (46, 7),
 908: (46, 8),
 909: (46, 9),
 910: (46, 10),
 911: (46, 11),
 912: (46, 12),
 913: (46, 13),
 914: (46, 14),
 915: (46, 15),
 916: (46, 16),
 917: (46, 17),
 918: (46, 18),
 919: (46, 19),
 920: (46, 20),
 921: (47, 1),
 922: (47, 2),
 923: (47, 3),
 924: (47, 4),
 925: (47, 5),
 926: (47, 6),
 927: (47, 7),
 928: (47, 8),
 929: (47, 9),
 930: (47, 10),
 931: (47, 11),
 932: (47, 12),
 933: (47, 13),
 934: (47, 14),
 935: (47, 15),
 936: (47, 16),
 937: (47, 17),
 938: (47, 18),
 939: (47, 19),
 940: (47, 20),
 941: (48, 1),
 942: (48, 2),
 943: (48, 3),
 944: (48, 4),
 945: (48, 5),
 946: (48, 6),
 947: (48, 7),
 948: (48, 8),
 949: (48, 9),
 950: (48, 10),
 951: (48, 11),
 952: (48, 12),
 953: (48, 13),
 954: (48, 14),
 955: (48, 15),
 956: (48, 16),
 957: (48, 17),
 958: (48, 18),
 959: (48, 19),
 960: (48, 20),
 961: (49, 1),
 962: (49, 2),
 963: (49, 3),
 964: (49, 4),
 965: (49, 5),
 966: (49, 6),
 967: (49, 7),
 968: (49, 8),
 969: (49, 9),
 970: (49, 10),
 971: (49, 11),
 972: (49, 12),
 973: (49, 13),
 974: (49, 14),
 975: (49, 15),
 976: (49, 16),
 977: (49, 17),
 978: (49, 18),
 979: (49, 19),
 980: (49, 20),
 981: (50, 1),
 982: (50, 2),
 983: (50, 3),
 984: (50, 4),
 985: (50, 5),
 986: (50, 6),
 987: (50, 7),
 988: (50, 8),
 989: (50, 9),
 990: (50, 10),
 991: (50, 11),
 992: (50, 12),
 993: (50, 13),
 994: (50, 14),
 995: (50, 15),
 996: (50, 16),
 997: (50, 17),
 998: (50, 18),
 999: (50, 19),
 1000: (50, 20),
 ...}

## 4.1 Conver the tuple states into a dictionarized states

In [13]:
for i in ['disp','vel','acc']:
    print(i)
    index = 0
    temp = eval(i)
    dic_i = eval('dict_unique_'+i+'l')
    key_list = list(dic_i.keys())
    val_list = list(dic_i.values())

    temp['s'] = 0
    temp['s_p'] = 0

    for z in range(len(temp)):
        j = temp['state'].iloc[z]
        k = temp['state_p'].iloc[z]
        position_s = val_list.index(j)
        position_s_p = val_list.index(k)
        temp['s'].iloc[index] = key_list[position_s]
        temp['s_p'].iloc[index] = key_list[position_s_p]
        index +=1
    temp['a'] = temp['act']/10
    temp['a']  = temp['a'].astype(int)
    globals()[i] = temp
#my_dict_unique_displ.get()

disp

/opt/homebrew/Caskroom/miniforge/base/envs/tensorflow/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

vel
acc

In [14]:
disp

          state   state_p    act    r_disp     s   s_p   a
0       (47, 6)   (26, 6)   10.0  1.005257   926   506   1
1       (47, 6)   (26, 6)   20.0  1.000257   926   506   2
2       (47, 6)   (26, 6)   30.0  0.995256   926   506   3
3       (47, 6)   (26, 6)   40.0  0.990256   926   506   4
4       (47, 6)   (27, 6)   50.0  0.985256   926   526   5
...         ...       ...    ...       ...   ...   ...  ..
23835  (62, 18)  (55, 17)  160.0  2.731185  1238  1097  16
23836  (62, 18)  (55, 17)  170.0  2.746416  1238  1097  17
23837  (62, 18)  (55, 17)  180.0  2.760593  1238  1097  18
23838  (62, 18)  (61, 17)  190.0  2.219886  1238  1217  19
23839  (62, 18)  (62, 17)  200.0  1.976461  1238  1237  20

[22930 rows x 7 columns]

In [15]:
for i in ['disp','vel','acc']:
    globals()[i+'o'] = eval(i)[['s','a','r_'+i,'s_p']].rename(columns={ 'r_'+i: 'r','s_p' : 'sp'})

In [16]:
print(len(set(acco['s'])))

338

In [17]:
for i in ['disp','vel','acc']:
    idx = eval(i+'o').groupby(['s'])['r'].transform(max) == eval(i+'o')['r']
    globals()[i+'_optimal'] = eval(i+'o')[idx]
    print(len(set(eval(i+'o')['s'])))
    globals()[i+'_act_count'] = eval(i+'_optimal')['a'].value_counts()

641
424
338

In [18]:
pd.concat([disp_act_count,vel_act_count,acc_act_count],axis =1)

     a   a    a
1   77  13  187
2   31  17   33
3   40  20   18
4   52  27   13
5   82  43   21
6   53  39   16
7   59  30   10
8   36  36    8
9   27  35    3
10  13  13    1
11  12   6    1
12   8   3    1
13   8   7    1
14  13   6    2
15  13   4    3
16   6   7    1
17  10  20    7
18  10  16    8
19  11  12    6
20  84  71    4

# 4.2 Save the Data to Data file
* csv
* Dictionary

In [21]:
for i in ['disp','vel','acc']:
    eval(i+'o').to_csv('Data/Version_from_python/{}.csv'.format(i+'o'),index=False)

    dic_i = eval('dict_unique_'+i+'l')
    a_file = open("Data/Version_from_python/{}_dic.json".format(i), "w")
    json.dump(dic_i, a_file)
    a_file.close()

### Loading Test

In [22]:
for i in ['disp','vel','acc']:
    a_file = open("Data/Version_from_python/{}_dic.json".format(i), "r")
    output = a_file.read()
    globals()['{}_dic'.format(i)]=output
#dict_unique_displ

In [23]:
a_file = open("Data/Version_from_python/disp_dic.json", "r")
a_dictionary = json.load(a_file)

In [24]:
a_dictionary['1']

[1, 1]

In [ ]:
len(disp_dic)
disp_dic[1]

'"'

In [ ]:
# ratio =  max(DO) / max(NOTHING)
    # if ratio = 1 -> reward = 0 + penalty
    # if ratio > 1 -> reward = -ratio + penalty
    # if ratio < 1 -> reward = 1/ratio + penalty

# reward = max(NOTHING) / max(DO) - Voltage / constant